/////////////////////////////////////////////////
@mixin breakpoint($value) {
	@media screen and (max-width: #{$value}) {
		@content;
	}
}

$desktop: 1600px;
$small: 900px;
$mobile: 480px;
$tiny: 390px;

/////////////////////////////////////////////////

// Base styling
.bloginsiders-widget {
	background-color: #000;
	color: #FFF;
	font-family: 'Overpass';
	font-size: 16px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 16px 7.5vw;

	@include breakpoint($desktop) {
		padding: 16px 48px;
	}

	@include breakpoint($small) {
		padding: 16px;
	}
}

.bloginsiders-widget__logo,
.bloginsiders-widget__insider,
.bloginsiders-widget__calltoaction {
	height: 100%;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

// Logo section
.bloginsiders-widget__logo {
	@include breakpoint($small) {
		display: none;
	}
}

.bloginsiders-widget__logo img {
	color: #FFF;
	fill: #FFF;
	max-height: 45px;
}

// Insider section
.bloginsiders-widget__insider .avatar {
	height: 100%;
	display: flex;
	align-items: center;
}

.bloginsiders-widget__insider .avatar img {
	width: 80px;
	margin-right: 16px;
	border-radius: 50%;

	@include breakpoint($mobile) {
		width: 60px;
	}
}

.bloginsiders-widget__insider .insidername {
	margin-top: -4px;
}

.bloginsiders-widget__insider .title {
	display: block;
	overflow: visible;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-heavy {
	font-weight: 900;
	font-size: 24px;
}

.text-light {
	font-weight: 300;
}

// Call to action section
.bloginsiders-widget__calltoaction {
	font-size: 24px;

	@include breakpoint($mobile) {
		font-size: 16px;
	}
}

.bloginsiders-widget__calltoaction span.call {
	@include breakpoint($tiny) {
		display: none;
	}
}

.bloginsiders-widget__calltoaction span.chevron {
	font-size: 48px;
	margin-left: 16px;

	@include breakpoint($small) {
		margin-left: 8px;
	}
}

// Making the entire div a link
.full-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 132px;
	z-index: 15;
	background: transparent;
	text-indent: 150%;
	overflow: hidden;
	white-space: nowrap;
}
