.bloginsiders-widget {
  background-color: #000;
  color: #FFF;
  font-family: 'Overpass';
  font-size: 16px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 7.5vw; }
  @media screen and (max-width: 1600px) {
    .bloginsiders-widget {
      padding: 16px 48px; } }
  @media screen and (max-width: 900px) {
    .bloginsiders-widget {
      padding: 16px; } }

.bloginsiders-widget__logo,
.bloginsiders-widget__insider,
.bloginsiders-widget__calltoaction {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 900px) {
  .bloginsiders-widget__logo {
    display: none; } }

.bloginsiders-widget__logo img {
  color: #FFF;
  fill: #FFF;
  max-height: 45px; }

.bloginsiders-widget__insider .avatar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bloginsiders-widget__insider .avatar img {
  width: 80px;
  margin-right: 16px;
  border-radius: 50%; }
  @media screen and (max-width: 480px) {
    .bloginsiders-widget__insider .avatar img {
      width: 60px; } }

.bloginsiders-widget__insider .insidername {
  margin-top: -4px; }

.bloginsiders-widget__insider .title {
  display: block;
  overflow: visible;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-heavy {
  font-weight: 900;
  font-size: 24px; }

.text-light {
  font-weight: 300; }

.bloginsiders-widget__calltoaction {
  font-size: 24px; }
  @media screen and (max-width: 480px) {
    .bloginsiders-widget__calltoaction {
      font-size: 16px; } }

@media screen and (max-width: 390px) {
  .bloginsiders-widget__calltoaction span.call {
    display: none; } }

.bloginsiders-widget__calltoaction span.chevron {
  font-size: 48px;
  margin-left: 16px; }
  @media screen and (max-width: 900px) {
    .bloginsiders-widget__calltoaction span.chevron {
      margin-left: 8px; } }

.full-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 132px;
  z-index: 15;
  background: transparent;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap; }
