.bloginsiders-widget
	a.full-link(href="#")
	.bloginsiders-widget__logo
		img(src="../assets/img/logo.svg")

	.bloginsiders-widget__insider
		.avatar
			img(src="../assets/img/nina-elise.png")
		.insidername
			span.title.text-heavy Nina & Elise
			span.title.text-light Ben jij al insider?
		
	.bloginsiders-widget__calltoaction
		span.call Meer weten?
		span.chevron ›
